.navdiv{
margin-top:50px;

}

.links{
    display :flex;
    align-items: center;
    justify-content : space-evenly;
    /* border : 2px solid; */
}



.link{
    font-family : sans-serif;
    text-decoration: none;
    color : green;
    font-size : 20px;
    font-weight : bold;
    
}

.link:hover{
    color :red;
}

.hr{
    margin-top : 5px;
    width :100vw;
    border: 2px solid green;
    
    
}