*{
    padding : 0;
    margin : 0;
}

.circuit-heading{
    text-decoration: underline;
    font-family:sans-serif;
    color:green;
    font-size:45px;
    margin-top:5px;
    
}
.circuit-display{
    margin-left:5px;
    display:flex;
    flex-direction:column;

    /* border: 2px solid; */

}

.circuit-contents{

    display :flex;
    /* border:2px solid red; */
    justify-content : center;
    
    
}


.circuit-screen{

    margin-top : 10px;
    margin-bottom : 10px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    /* border : solid 2px blue; */
    padding : 20px;
    margin-left : 100px;
    

    
}
.circuit{
    /* border : solid 2px red; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
     
}



.row{
    height:50px;
    margin-top:15px;
    margin-bottom:15px;
    display:flex;
    align-items:center;
    
}

.startWire{
    margin-top:47px;
    background-color: black;
    width:3px;

}
.endwire{
    margin-top:30px;
    min-width:100px;
    width : 100%;
    height:3px;
    background-color : black;
    margin-bottom : 13px;
}



.wire{
    margin-top:30px;
    min-width: 100px;
    height:3px;
    background-color : black;
}

.resistor{
    height:25px;
    width:50px;
    background-image: url("../public/resistor.png");
    background-size: 50px;
    background-position-x: 0px;
    background-position-y: -13.5px;
    
    
}

.circuit-info{
    display:flex;
    margin-top:5px;
    /* border: 2px solid; */
    height:123px;
    align-items : center;
    justify-content :center;

}

.eqres{
   
    display :flex;
    margin-left : 10px;
    
}

.eqres-value{
    margin-left : 5px;
}

.edit-delete{
    margin-left : 25px;
    /* border: 2px solid black; */
    display :flex;
    flex-direction: column;
    align-items : center;
    justify-content : space-evenly;

}

.edit{ 
    border:none;
    background-color: green;
    height:40px;
    width: 120px;
    border-radius:20px;
    color : white;
    font-weight:bold;
    
}

.edit:hover{
    box-shadow: 0px 2px 5px black;
    background-color:lime;
    color :black;
    
}

.delete-circuit{ 
    border:none;
    font-weight:bold;
    background-color: rgb(255, 47, 47);
    height:40px;
    width: 120px;
    border-radius:20px;
    color : white;
    
}
.delete-circuit:hover{
    background-color:rgb(255, 106, 106);
    color : black;
    box-shadow: 0px 2px 5px black;

}